In [ ]:
# ONS (Census 2011) statistics for Lewisham.
# Fetches Nomis data releases and prepares them for use in Lewisham ward profiles.
#
# This requires the OA->LSOA lookup table produced by "lbl_boundaries_oa.ipynb"
# as well as the OA->WD22 lookup table produced by "lbl_boundaries_2022_wards.ipynb"

In [ ]:
import pandas as pd

from google.colab import drive
import google.colab.files as files

import IPython

Tools
==
Helpers to reformat & aggregate the Nomis source data.

In [ ]:
# Extract the subset we need.
def filter_nomis_data(d, date_values, geography_values):
  return d[d.date.isin(date_values) & 
           d.geography.isin(geography_values)]

# Reformat Nomis data into a lookup table format:
# clear labelling of the index (geography) column, 
# remove superfluous columns.
def format_nomis_data(d, geo_colname='OA11CD'):
  return d.\
           rename(columns={'geography code': geo_colname}).\
           drop(columns=['date', 'geography'])

# Convenience function to call the above.
def nomis_to_oa(d, years, oa_list):
  return format_nomis_data(filter_nomis_data(d, years, oa_list))

In [ ]:
# Aggregate OA-level data to LSOAs, Wards, etc. (Calculates the sum.)
def aggregate_oa_groups(oa_data, oa_group_table, oa_col, group_col):
  return pd.merge(oa_group_table, oa_data, on=oa_col, how='right').\
              drop(columns=[oa_col]).\
              groupby(group_col).sum()

Data
==
GDrive mount
--

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# Used as root folder.
project_dir = '/content/gdrive/MyDrive/WardProfiles'
oa_lookups_dir = f"{project_dir}/lookups/oa"
ward_lookups_dir = f"{project_dir}/lookups/2022_wards"

# For exports
output_dir = f"{project_dir}/housing"

In [ ]:
!mkdir -p '{output_dir}'

Downloads
--

In [ ]:
# Accommodation type (available from table: Dwellings, household spaces and accommodation type)
# Source: 
# https://www.nomisweb.co.uk/census/2011/ks401ew
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_618_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299' \
  -O "{output_dir}/census11_accommodation_type_oa11_london.csv"

--2021-11-20 11:21:54--  https://www.nomisweb.co.uk/api/v01/dataset/nm_618_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1951298 (1.9M) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_accommodation_type_oa11_london.csv’

/content/gdrive/MyD 100%[===================>]   1.86M   644KB/s    in 3.0s

2021-11-20 11:22:10 (644 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_accommodation_type_oa11_london.csv’ saved [1951298/1951298]

In [ ]:
# Tenure - Households
# Source:
# https://www.nomisweb.co.uk/census/2011/qs405ew
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_537_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299' \
  -O "{output_dir}/census11_tenure_households_oa11_london.csv"

--2021-11-20 11:22:16--  https://www.nomisweb.co.uk/api/v01/dataset/nm_537_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1880966 (1.8M) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_tenure_households_oa11_london.csv’

/content/gdrive/MyD 100%[===================>]   1.79M   644KB/s    in 2.9s

2021-11-20 11:22:31 (644 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_tenure_households_oa11_london.csv’ saved [1880966/1880966]

In [ ]:
# Household Composition
# Source: 
# https://www.nomisweb.co.uk/census/2011/ks105ew
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_605_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299' \
  -O "{output_dir}/census11_household_compositions_oa11_london.csv"

--2021-11-20 11:22:36--  https://www.nomisweb.co.uk/api/v01/dataset/nm_605_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2379863 (2.3M) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_household_compositions_oa11_london.csv’

/content/gdrive/MyD 100%[===================>]   2.27M   641KB/s    in 3.6s

2021-11-20 11:22:53 (641 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_household_compositions_oa11_london.csv’ saved [2379863/2379863]

In [ ]:
# Rooms, bedrooms, central heating
# Source:
# https://www.nomisweb.co.uk/census/2011/ks403ew
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_146_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299' \
  -O "{output_dir}/census11_rooms_bedrooms_central_heating_oa11_london.csv"

--2021-11-20 11:22:59--  https://www.nomisweb.co.uk/api/v01/dataset/nm_146_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1662827 (1.6M) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_rooms_bedrooms_central_heating_oa11_london.csv’

/content/gdrive/MyD 100%[===================>]   1.58M   630KB/s    in 2.6s

2021-11-20 11:23:13 (630 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_rooms_bedrooms_central_heating_oa11_london.csv’ saved [1662827/1662827]

In [ ]:
# Car or van availability
# Source:
# https://www.nomisweb.co.uk/census/2011/ks404ew
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_621_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299' \
  -O "{output_dir}/census11_car_van_availability_oa11_london.csv"

--2021-11-20 11:23:18--  https://www.nomisweb.co.uk/api/v01/dataset/nm_621_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1485244 (1.4M) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_car_van_availability_oa11_london.csv’

/content/gdrive/MyD 100%[===================>]   1.42M   367KB/s    in 4.6s

2021-11-20 11:23:34 (318 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_car_van_availability_oa11_london.csv’ saved [1485244/1485244]

In [ ]:
# Occupancy rating (bedrooms)
# Source:
# https://www.nomisweb.co.uk/census/2011/qs412ew
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_544_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299' \
  -O "{output_dir}/census11_occupancy_rating_oa11_london.csv"

--2021-11-20 11:23:39--  https://www.nomisweb.co.uk/api/v01/dataset/nm_544_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1412216 (1.3M) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_occupancy_rating_oa11_london.csv’

/content/gdrive/MyD 100%[===================>]   1.35M   632KB/s    in 2.2s

2021-11-20 11:23:53 (632 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_occupancy_rating_oa11_london.csv’ saved [1412216/1412216]

In [ ]:
# reference regions

In [ ]:
# reference regions
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_618_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464' \
  -O "{output_dir}/census11_accommodation_type_references.csv"

--2021-11-20 11:24:09--  https://www.nomisweb.co.uk/api/v01/dataset/nm_618_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1570 (1.5K) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_accommodation_type_references.csv’

/content/gdrive/MyD 100%[===================>]   1.53K  --.-KB/s    in 0s

2021-11-20 11:24:10 (202 MB/s) - ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_accommodation_type_references.csv’ saved [1570/1570]

In [ ]:
# tenure_households
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_537_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464' \
  -O "{output_dir}/census11_tenure_households_references.csv"

--2021-11-20 11:24:34--  https://www.nomisweb.co.uk/api/v01/dataset/nm_537_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1281 (1.3K) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_tenure_households_references.csv’

/content/gdrive/MyD 100%[===================>]   1.25K  --.-KB/s    in 0s

2021-11-20 11:24:35 (146 MB/s) - ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_tenure_households_references.csv’ saved [1281/1281]

In [ ]:
# household_compositions
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_605_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464' \
  -O "{output_dir}/census11_household_compositions_references.csv"

--2021-11-20 11:24:43--  https://www.nomisweb.co.uk/api/v01/dataset/nm_605_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2544 (2.5K) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_household_compositions_references.csv’

/content/gdrive/MyD 100%[===================>]   2.48K  --.-KB/s    in 0s

2021-11-20 11:24:44 (187 MB/s) - ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_household_compositions_references.csv’ saved [2544/2544]

In [ ]:
# rooms_bedrooms_central_heating
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_146_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464' \
  -O "{output_dir}/census11_rooms_bedrooms_central_heating_references.csv"

--2021-11-20 11:24:50--  https://www.nomisweb.co.uk/api/v01/dataset/nm_146_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 885 [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_rooms_bedrooms_central_heating_references.csv’

/content/gdrive/MyD 100%[===================>]     885  --.-KB/s    in 0s

2021-11-20 11:24:52 (118 MB/s) - ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_rooms_bedrooms_central_heating_references.csv’ saved [885/885]

In [ ]:
# car_van_availability
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_621_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464' \
  -O "{output_dir}/census11_car_van_availability_references.csv"

--2021-11-20 11:24:57--  https://www.nomisweb.co.uk/api/v01/dataset/nm_621_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 707 [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_car_van_availability_references.csv’

/content/gdrive/MyD 100%[===================>]     707  --.-KB/s    in 0s

2021-11-20 11:24:59 (90.6 MB/s) - ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_car_van_availability_references.csv’ saved [707/707]

In [ ]:
# occupancy_rating
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_544_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464' \
  -O "{output_dir}/census11_occupancy_rating_references.csv"

--2021-11-20 11:25:03--  https://www.nomisweb.co.uk/api/v01/dataset/nm_544_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 736 [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_occupancy_rating_references.csv’

/content/gdrive/MyD 100%[===================>]     736  --.-KB/s    in 0s

2021-11-20 11:25:05 (59.1 MB/s) - ‘/content/gdrive/MyDrive/WardProfiles/housing/census11_occupancy_rating_references.csv’ saved [736/736]

Lookups
--
Used to match up OAs with their LSOAs, and 2022 electoral wards

In [ ]:
# All OAs and their LSOAs in Lewisham
oa_lsoa_join = pd.read_csv(f"{oa_lookups_dir}/lbl_oa11_lsoa11_msoa11_lad20_rgn20_202012.csv")
oa_lsoa_join = oa_lsoa_join[['OA11CD', 'LSOA11CD']]
oa_lsoa_join.head()

      OA11CD   LSOA11CD
0  E00016277  E01003220
1  E00016278  E01003220
2  E00016285  E01003220
3  E00016257  E01003221
4  E00016263  E01003221

In [ ]:
# All OAs and their 2022 wards in Lewisham
oa_wd22_join = pd.read_csv(f"{ward_lookups_dir}/lbl_oa11_wd22_proposed.csv")
oa_wd22_join = oa_wd22_join[['OA11CD', 'WD22CD_proposed']]
oa_wd22_join.head()

      OA11CD WD22CD_proposed
0  E00016403       E05013721
1  E00016442       E05013721
2  E00016407       E05013721
3  E00016404       E05013721
4  E00016402       E05013721

Process & export
==
Lewisham
--

In [ ]:
# For filtering of source data
lbl_oa_list = oa_lsoa_join.OA11CD.unique() # All OAs in Lewisham
years = [2011] # Just a precaution, in case any of the downloads include multiple periods

for datname in ['accommodation_type', 'tenure_households',
                'household_compositions', 'rooms_bedrooms_central_heating',
                'car_van_availability', 'occupancy_rating']:
  IPython.display.display(f"=== {datname} ===")
  # Load the Nomis data
  d = pd.read_csv(f"{output_dir}/census11_{datname}_oa11_london.csv")

  # Simplify the column names
  d.columns = d.columns.str.replace(
      # Remove the redundant title prefix and qualifier suffix
      r'^.*?: (.*?); measures: Value', 
      r'\1')

  # Transform to OA index data
  lbl_oa = nomis_to_oa(d, years, lbl_oa_list)
  lbl_oa.to_csv(f"{output_dir}/lbl_{datname}_oa11.csv", index=False)

  # Aggregate to LSOA level
  lbl_lsoa = aggregate_oa_groups(lbl_oa, oa_lsoa_join, oa_col='OA11CD', group_col='LSOA11CD')
  lbl_lsoa.to_csv(f"{output_dir}/lbl_{datname}_lsoa11.csv", index=True)
  IPython.display.display(lbl_lsoa.head())

  # Aggregate to WD22 level
  lbl_wd22 = aggregate_oa_groups(lbl_oa, oa_wd22_join, oa_col='OA11CD', group_col='WD22CD_proposed')
  lbl_wd22.to_csv(f"{output_dir}/lbl_{datname}_wd22.csv", index=True)
  IPython.display.display(lbl_wd22.head())

'=== accommodation_type ==='

           All categories: Dwelling type  ...  Caravan or other mobile or temporary structure
LSOA11CD                                  ...
E01003189                            628  ...                                               0
E01003190                            819  ...                                               0
E01003191                            676  ...                                               0
E01003192                            749  ...                                               0
E01003193                            672  ...                                               0

[5 rows x 14 columns]

                 All categories: Dwelling type  ...  Caravan or other mobile or temporary structure
WD22CD_proposed                                 ...
E05013714                                 4395  ...                                               0
E05013715                                 7184  ...                                               1
E05013716                                 7268  ...                                               1
E05013717                                 6196  ...                                               3
E05013718                                 6389  ...                                               1

[5 rows x 14 columns]

'=== tenure_households ==='

           All categories: Tenure  ...  Living rent free
LSOA11CD                           ...
E01003189                     624  ...                 7
E01003190                     809  ...                 7
E01003191                     665  ...                 4
E01003192                     741  ...                 7
E01003193                     666  ...                 6

[5 rows x 14 columns]

                 All categories: Tenure  ...  Living rent free
WD22CD_proposed                          ...
E05013714                          4354  ...                36
E05013715                          7070  ...                65
E05013716                          7203  ...                76
E05013717                          6145  ...                64
E05013718                          6263  ...                55

[5 rows x 14 columns]

'=== household_compositions ==='

           All categories: Household composition  ...  Other household types: Other
LSOA11CD                                          ...
E01003189                                    624  ...                            27
E01003190                                    809  ...                            56
E01003191                                    665  ...                            25
E01003192                                    741  ...                            47
E01003193                                    666  ...                            43

[5 rows x 22 columns]

                 All categories: Household composition  ...  Other household types: Other
WD22CD_proposed                                         ...
E05013714                                         4354  ...                           227
E05013715                                         7070  ...                           607
E05013716                                         7203  ...                          1047
E05013717                                         6145  ...                           384
E05013718                                         6263  ...                           653

[5 rows x 22 columns]

'=== rooms_bedrooms_central_heating ==='

           All categories: Type of central heating in household  ...  Average number of bedrooms per household
LSOA11CD                                                         ...
E01003189                                                624     ...                                      12.0
E01003190                                                809     ...                                      12.3
E01003191                                                665     ...                                      11.0
E01003192                                                741     ...                                      12.2
E01003193                                                666     ...                                      12.4

[5 rows x 8 columns]

                 All categories: Type of central heating in household  ...  Average number of bedrooms per household
WD22CD_proposed                                                        ...
E05013714                                                     4354     ...                                      76.9
E05013715                                                     7070     ...                                     125.6
E05013716                                                     7203     ...                                     116.6
E05013717                                                     6145     ...                                     131.5
E05013718                                                     6263     ...                                     116.9

[5 rows x 8 columns]

'=== car_van_availability ==='

           All categories: Car or van availability  ...  sum of all cars or vans in the area
LSOA11CD                                            ...
E01003189                                      624  ...                                  414
E01003190                                      809  ...                                  473
E01003191                                      665  ...                                  453
E01003192                                      741  ...                                  385
E01003193                                      666  ...                                  523

[5 rows x 7 columns]

                 All categories: Car or van availability  ...  sum of all cars or vans in the area
WD22CD_proposed                                           ...
E05013714                                           4354  ...                                 2799
E05013715                                           7070  ...                                 4733
E05013716                                           7203  ...                                 3691
E05013717                                           6145  ...                                 5669
E05013718                                           6263  ...                                 4652

[5 rows x 7 columns]

'=== occupancy_rating ==='

           All categories: Occupancy rating bedrooms  ...  Occupancy rating (bedrooms) of -2 or less
LSOA11CD                                              ...
E01003189                                        624  ...                                         12
E01003190                                        809  ...                                         17
E01003191                                        665  ...                                          9
E01003192                                        741  ...                                         20
E01003193                                        666  ...                                          8

[5 rows x 6 columns]

                 All categories: Occupancy rating bedrooms  ...  Occupancy rating (bedrooms) of -2 or less
WD22CD_proposed                                             ...
E05013714                                             4354  ...                                        102
E05013715                                             7070  ...                                         92
E05013716                                             7203  ...                                        164
E05013717                                             6145  ...                                        102
E05013718                                             6263  ...                                         75

[5 rows x 6 columns]

Reference geographies
--

In [ ]:
# For filtering of source data
reference_names = ['United Kingdom', 'Great Britain', 'England and Wales',
                   'England', 'London', 'Lewisham']
years = [2011] # Just a precaution, in case any of the downloads include multiple periods

for datname in ['accommodation_type', 'tenure_households', 
                'household_compositions', 'rooms_bedrooms_central_heating',
                'car_van_availability', 'occupancy_rating']:
  IPython.display.display(f"=== {datname} ===")
  # Load the Nomis data
  d = pd.read_csv(f"{output_dir}/census11_{datname}_references.csv")

  # Simplify the column names
  d.columns = d.columns.str.replace(
      # Remove the redundant title prefix and qualifier suffix
      r'^.*?: (.*?); measures: Value', 
      r'\1')

  # Filter & transform to index data
  ref = filter_nomis_data(d, years, reference_names).drop(columns=['date'])
  ref = ref.rename(columns={'geography': 'Name', 'geography code': 'Code'})
  ref.to_csv(f"{output_dir}/references_{datname}.csv", index=False)
  IPython.display.display(ref.head())

'=== accommodation_type ==='

       Name  ... Caravan or other mobile or temporary structure
0   England  ...                                         100228
1    London  ...                                           2818
2  Lewisham  ...                                             52

[3 rows x 17 columns]

'=== tenure_households ==='

       Name       Code  ... Private rented: Other  Living rent free
0   England  E92000001  ...                 59610            295110
1    London  E12000007  ...                 10147             42780
2  Lewisham  E09000023  ...                   323              1159

[3 rows x 17 columns]

'=== household_compositions ==='

       Name  ... Other household types: Other
0   England  ...                       995677
1    London  ...                       306687
2  Lewisham  ...                        10539

[3 rows x 25 columns]

'=== rooms_bedrooms_central_heating ==='

       Name  ... Average number of bedrooms per household
0   England  ...                                      2.7
1    London  ...                                      2.5
2  Lewisham  ...                                      2.3

[3 rows x 11 columns]

'=== car_van_availability ==='

       Name  ... sum of all cars or vans in the area
0   England  ...                            25696833
1    London  ...                             2664414
2  Lewisham  ...                               76507

[3 rows x 10 columns]

'=== occupancy_rating ==='

       Name  ... Occupancy rating (bedrooms) of -2 or less
0   England  ...                                    153933
1    London  ...                                     69206
2  Lewisham  ...                                      2314

[3 rows x 9 columns]

Derivatives
==

Accommodation type
--

In [ ]:
accomm = pd.read_csv(f"{output_dir}/census11_accommodation_type_oa11_london.csv")
accomm.columns

Index(['date', 'geography', 'geography code', 'Rural Urban',
       'Dwelling Type: All categories: Dwelling type; measures: Value',
       'Dwelling Type: Unshared dwelling; measures: Value',
       'Dwelling Type: Shared dwelling: Two household spaces; measures: Value',
       'Dwelling Type: Shared dwelling: Three or more household spaces; measures: Value',
       'Dwelling Type: All categories: Household spaces; measures: Value',
       'Dwelling Type: Household spaces with at least one usual resident; measures: Value',
       'Dwelling Type: Household spaces with no usual residents; measures: Value',
       'Dwelling Type: Whole house or bungalow: Detached; measures: Value',
       'Dwelling Type: Whole house or bungalow: Semi-detached; measures: Value',
       'Dwelling Type: Whole house or bungalow: Terraced (including end-terrace); measures: Value',
       'Dwelling Type: Flat, maisonette or apartment: Purpose-built block of flats or tenement; measures: Value',
       'Dwelling Type: Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits); measures: Value',
       'Dwelling Type: Flat, maisonette or apartment: In a commercial building; measures: Value',
       'Dwelling Type: Caravan or other mobile or temporary structure; measures: Value'],
      dtype='object')

In [ ]:
# Segmentation of categories
def accomm_type_groups(accomm, fixed_columns):
  d = accomm[fixed_columns].copy()
  total = accomm['All categories: Household spaces']
  d['Detached houses'] = accomm['Whole house or bungalow: Detached'] * 100. / total
  d['Semi-detached houses'] = accomm['Whole house or bungalow: Semi-detached'] * 100. / total
  d['Terraced'] = accomm['Whole house or bungalow: Terraced (including end-terrace)'] * 100 / total
  d['Flats'] = accomm[accomm.columns[accomm.columns.str.contains('Flat, maisonette or apartment')]].sum(axis=1) * 100 / total
  d['Caravan or mobile'] = accomm['Caravan or other mobile or temporary structure'] * 100 / total

  
  return d#.round(1)

In [ ]:
# Lewisham
for geog, geog_colname in zip(['oa11', 'wd22'], ['OA11CD', 'WD22CD_proposed']):
  IPython.display.display(f"=== {geog} ===")

  accomm = pd.read_csv(f"{output_dir}/lbl_accommodation_type_{geog}.csv")
  d = accomm_type_groups(accomm, [geog_colname])
  d.to_csv(f"{output_dir}/lbl_accommodation_type_groups_{geog}.csv", index=False)
  IPython.display.display(d.head())

'=== oa11 ==='

      OA11CD  Detached houses  ...      Flats  Caravan or mobile
0  E00016403         0.000000  ...  98.630137                0.0
1  E00016437         0.000000  ...  96.273292                0.0
2  E00016439         0.552486  ...  95.027624                0.0
3  E00016442         0.689655  ...  96.551724                0.0
4  E00016399         9.722222  ...  38.194444                0.0

[5 rows x 6 columns]

'=== wd22 ==='

  WD22CD_proposed  Detached houses  ...      Flats  Caravan or mobile
0       E05013714         2.796726  ...  47.885402           0.000000
1       E05013715         4.285319  ...  69.823058           0.013824
2       E05013716         2.092676  ...  70.376410           0.013589
3       E05013717         3.025452  ...  31.038899           0.048023
4       E05013718         3.182031  ...  43.066604           0.015598

[5 rows x 6 columns]

Tenure Households
--

In [ ]:
ths = pd.read_csv(f"{output_dir}/census11_tenure_households_oa11_london.csv")
ths.columns

Index(['date', 'geography', 'geography code', 'Rural Urban',
       'Tenure: All categories: Tenure; measures: Value',
       'Tenure: Owned: Total; measures: Value',
       'Tenure: Owned: Owned outright; measures: Value',
       'Tenure: Owned: Owned with a mortgage or loan; measures: Value',
       'Tenure: Shared ownership (part owned and part rented); measures: Value',
       'Tenure: Social rented: Total; measures: Value',
       'Tenure: Social rented: Rented from council (Local Authority); measures: Value',
       'Tenure: Social rented: Other social rented; measures: Value',
       'Tenure: Private rented: Total; measures: Value',
       'Tenure: Private rented: Private landlord or letting agency; measures: Value',
       'Tenure: Private rented: Employer of a household member; measures: Value',
       'Tenure: Private rented: Relative or friend of household member; measures: Value',
       'Tenure: Private rented: Other; measures: Value',
       'Tenure: Living rent free; measures: Value'],
      dtype='object')

In [ ]:
from IPython.display import display
ths.head()

   date  ... Tenure: Living rent free; measures: Value
0  2011  ...                                         0
1  2011  ...                                         2
2  2011  ...                                         1
3  2011  ...                                         0
4  2011  ...                                         1

[5 rows x 18 columns]

In [ ]:
# Segmentation of categories
def tenure_groups(ths, fixed_columns):
  d = ths[fixed_columns].copy()
  total = ths['All categories: Tenure']
  d['Owned'] = ths['Owned: Total'] * 100. / total
  d['Shared ownership'] = ths['Shared ownership (part owned and part rented)'] * 100. / total
  d['Social rented'] = ths['Social rented: Total'] * 100. / total
  d['Private rented'] = ths['Private rented: Total'] * 100 / total
  d['Rent free'] = ths['Living rent free'] * 100 / total

  
  return d#.round(1)

In [ ]:
# Lewisham
for geog, geog_colname in zip(['oa11', 'wd22'], ['OA11CD', 'WD22CD_proposed']):
  IPython.display.display(f"=== {geog} ===")

  ths = pd.read_csv(f"{output_dir}/lbl_tenure_households_{geog}.csv")
  d = tenure_groups(ths, [geog_colname])
  d.to_csv(f"{output_dir}/lbl_tenure_households_groups_{geog}.csv", index=False)
  IPython.display.display(d.head())

'=== oa11 ==='

      OA11CD      Owned  ...  Private rented  Rent free
0  E00016403   5.633803  ...        7.042254   0.000000
1  E00016437  12.578616  ...        6.918239   0.628931
2  E00016439   4.494382  ...       23.595506   0.561798
3  E00016442  10.071942  ...       10.071942   0.000000
4  E00016399   6.382979  ...        2.836879   3.546099

[5 rows x 6 columns]

'=== wd22 ==='

  WD22CD_proposed      Owned  ...  Private rented  Rent free
0       E05013714  33.670188  ...       12.195682   0.826826
1       E05013715  41.499293  ...       26.732673   0.919378
2       E05013716  33.569346  ...       35.651812   1.055116
3       E05013717  63.515053  ...       17.282343   1.041497
4       E05013718  55.021555  ...       25.786364   0.878173

[5 rows x 6 columns]

Household composition
--

In [ ]:
house_comp = pd.read_csv(f"{output_dir}/census11_household_compositions_oa11_london.csv")
house_comp.head()

   date  ... Household Composition: Other household types: Other; measures: Value
0  2011  ...                                                 13
1  2011  ...                                                  6
2  2011  ...                                                 11
3  2011  ...                                                  9
4  2011  ...                                                 18

[5 rows x 26 columns]

In [ ]:
house_comp.columns

Index(['date', 'geography', 'geography code', 'Rural Urban',
       'Household Composition: All categories: Household composition; measures: Value',
       'Household Composition: One person household; measures: Value',
       'Household Composition: One person household: Aged 65 and over; measures: Value',
       'Household Composition: One person household: Other; measures: Value',
       'Household Composition: One family household; measures: Value',
       'Household Composition: One family only: All aged 65 and over; measures: Value',
       'Household Composition: One family only: Married or same-sex civil partnership couple; measures: Value',
       'Household Composition: One family only: Married or same-sex civil partnership couple: No children; measures: Value',
       'Household Composition: One family only: Married or same-sex civil partnership couple: Dependent children; measures: Value',
       'Household Composition: One family only: Married or same-sex civil partnership couple: All children non-dependent; measures: Value',
       'Household Composition: One family only: Cohabiting couple; measures: Value',
       'Household Composition: One family only: Cohabiting couple: No children; measures: Value',
       'Household Composition: One family only: Cohabiting couple: Dependent children; measures: Value',
       'Household Composition: One family only: Cohabiting couple: All children non-dependent; measures: Value',
       'Household Composition: One family only: Lone parent; measures: Value',
       'Household Composition: One family only: Lone parent: Dependent children; measures: Value',
       'Household Composition: One family only: Lone parent: All children non-dependent; measures: Value',
       'Household Composition: Other household types; measures: Value',
       'Household Composition: Other household types: With dependent children; measures: Value',
       'Household Composition: Other household types: All full-time students; measures: Value',
       'Household Composition: Other household types: All aged 65 and over; measures: Value',
       'Household Composition: Other household types: Other; measures: Value'],
      dtype='object')

In [ ]:
# Segmentation of categories (first segments: 3 groups)
def household_comp_groups(hh_comp, fixed_columns):
  d = hh_comp[fixed_columns].copy()
  total = hh_comp['All categories: Household composition']
  d['One person household'] = hh_comp['One person household'] * 100. / total
  d['One family household'] = hh_comp['One family household'] * 100. / total
  d['Other household types'] = hh_comp['Other household types'] * 100 / total
    
  return d#.round(1)

In [ ]:
# Lewisham
# first segments: 3 groups
for geog, geog_colname in zip(['oa11', 'wd22'], ['OA11CD', 'WD22CD_proposed']):
  IPython.display.display(f"=== {geog} ===")

  hh_comp = pd.read_csv(f"{output_dir}/lbl_household_compositions_{geog}.csv")
  d = household_comp_groups(hh_comp, [geog_colname])
  d.to_csv(f"{output_dir}/lbl_household_compositions_groups_{geog}.csv", index=False)
  IPython.display.display(d.head())

'=== oa11 ==='

      OA11CD  One person household  One family household  Other household types
0  E00016403             30.281690             53.521127              16.197183
1  E00016437             15.723270             64.779874              19.496855
2  E00016439             53.932584             29.213483              16.853933
3  E00016442             31.654676             53.956835              14.388489
4  E00016399             14.893617             70.921986              14.184397

'=== wd22 ==='

  WD22CD_proposed  ...  Other household types
0       E05013714  ...              11.070280
1       E05013715  ...              12.263083
2       E05013716  ...              20.199917
3       E05013717  ...              13.832384
4       E05013718  ...              15.248284

[5 rows x 4 columns]

Rooms bedrooms central heating
--

In [ ]:
rooms_bed_ch = pd.read_csv(f"{output_dir}/census11_rooms_bedrooms_central_heating_oa11_london.csv")
rooms_bed_ch.head()

   date  ... Central Heating: Average number of bedrooms per household; measures: Value
0  2011  ...                                                2.8
1  2011  ...                                                1.7
2  2011  ...                                                2.1
3  2011  ...                                                1.9
4  2011  ...                                                2.4

[5 rows x 12 columns]

In [ ]:
rooms_bed_ch.columns

Index(['date', 'geography', 'geography code', 'Rural Urban',
       'Central Heating: All categories: Type of central heating in household; measures: Value',
       'Central Heating: Does not have central heating; measures: Value',
       'Central Heating: Does have central heating; measures: Value',
       'Central Heating: Occupancy rating (rooms) of -1 or less; measures: Value',
       'Central Heating: Occupancy rating (bedrooms) of -1 or less; measures: Value',
       'Central Heating: Average household size; measures: Value',
       'Central Heating: Average number of rooms per household; measures: Value',
       'Central Heating: Average number of bedrooms per household; measures: Value'],
      dtype='object')

In [ ]:
# Segmentation of categories
def room_bed_ch_groups(rbch, fixed_columns):
  d = rbch[fixed_columns].copy()
  total = rbch['All categories: Type of central heating in household']
  d['No central heating'] = rbch['Does not have central heating'] * 100. / total
  d['Central heating'] = rbch['Does have central heating'] * 100. / total
  d['-1 or less (rooms)'] = rbch['Occupancy rating (rooms) of -1 or less']
  d['-1 or less (bedrooms)'] = rbch['Occupancy rating (bedrooms) of -1 or less']
  d['Average household size'] = rbch['Average household size']
  d['Average no of rooms'] = rbch['Average number of rooms per household']
  d['Average no of bedrooms'] = rbch['Average number of bedrooms per household']

  return d#.round(1)

In [ ]:
# Lewisham
for geog, geog_colname in zip(['oa11', 'wd22'], ['OA11CD', 'WD22CD_proposed']):
  IPython.display.display(f"=== {geog} ===")

  rbch = pd.read_csv(f"{output_dir}/lbl_rooms_bedrooms_central_heating_{geog}.csv")
  d = room_bed_ch_groups(rbch, [geog_colname])
  d.to_csv(f"{output_dir}/lbl_rooms_bedrooms_central_heating_groups_{geog}.csv", index=False)
  IPython.display.display(d.head())

'=== oa11 ==='

      OA11CD  No central heating  ...  Average no of rooms  Average no of bedrooms
0  E00016403            1.408451  ...                  4.1                     2.1
1  E00016437            1.886792  ...                  4.5                     2.5
2  E00016439            0.000000  ...                  3.4                     1.7
3  E00016442            1.438849  ...                  3.7                     2.0
4  E00016399            0.000000  ...                  4.6                     2.7

[5 rows x 8 columns]

'=== wd22 ==='

  WD22CD_proposed  ...  Average no of bedrooms
0       E05013714  ...                    76.9
1       E05013715  ...                   125.6
2       E05013716  ...                   116.6
3       E05013717  ...                   131.5
4       E05013718  ...                   116.9

[5 rows x 8 columns]

Car van availability
--

In [ ]:
# Segmentation of categories
def car_van_groups(cv, fixed_columns):
  d = cv[fixed_columns].copy()
  total = cv['All categories: Car or van availability']
  d['No cars or vans'] = cv['No cars or vans in household'] * 100. / total
  d['One car or van'] = cv['1 car or van in household'] * 100. / total
  d['Two cars or vans'] = cv['2 cars or vans in household'] * 100 / total
  d['Three cars or vans'] = cv['3 cars or vans in household'] * 100 / total
  d['Four cars or vans'] = cv['4 or more cars or vans in household'] * 100 / total

  
  return d#.round(1)

In [ ]:
# Lewisham
for geog, geog_colname in zip(['oa11', 'wd22'], ['OA11CD', 'WD22CD_proposed']):
  IPython.display.display(f"=== {geog} ===")

  cv = pd.read_csv(f"{output_dir}/lbl_car_van_availability_{geog}.csv")
  d = car_van_groups(cv, [geog_colname])
  d.to_csv(f"{output_dir}/lbl_car_van_availability_groups_{geog}.csv", index=False)
  IPython.display.display(d.head())

'=== oa11 ==='

      OA11CD  No cars or vans  ...  Three cars or vans  Four cars or vans
0  E00016403        65.492958  ...             0.00000           0.704225
1  E00016437        54.716981  ...             0.00000           0.000000
2  E00016439        76.966292  ...             0.00000           0.000000
3  E00016442        66.906475  ...             0.00000           0.000000
4  E00016399        58.156028  ...             1.41844           0.709220

[5 rows x 6 columns]

'=== wd22 ==='

  WD22CD_proposed  No cars or vans  ...  Three cars or vans  Four cars or vans
0       E05013714        48.828663  ...            1.538815           0.367478
1       E05013715        45.983027  ...            1.046676           0.410184
2       E05013716        57.059559  ...            0.819103           0.208247
3       E05013717        34.125305  ...            3.515053           0.911310
4       E05013718        41.673319  ...            1.836181           0.447070

[5 rows x 6 columns]

Occupancy rating
--

In [ ]:
# Segmentation of categories
def occupancy_rating_groups(occ, fixed_columns):
  d = occ[fixed_columns].copy()
  total = occ['All categories: Occupancy rating bedrooms']
  d['+2 or more'] = occ['Occupancy rating (bedrooms) of +2 or more'] * 100. / total
  d['+1'] = occ['Occupancy rating (bedrooms) of +1'] * 100. / total
  d['0'] = occ['Occupancy rating (bedrooms) of 0'] * 100 / total
  d['-1'] = occ['Occupancy rating (bedrooms) of -1'] * 100 / total
  d['-2 or less'] = occ['Occupancy rating (bedrooms) of -2 or less'] * 100 / total

  
  return d#.round(1)

In [ ]:
# Lewisham
for geog, geog_colname in zip(['oa11', 'wd22'], ['OA11CD', 'WD22CD_proposed']):
  IPython.display.display(f"=== {geog} ===")

  occ = pd.read_csv(f"{output_dir}/lbl_occupancy_rating_{geog}.csv")
  d = occupancy_rating_groups(occ, [geog_colname])
  d.to_csv(f"{output_dir}/lbl_occupancy_rating_groups_{geog}.csv", index=False)
  IPython.display.display(d.head())

'=== oa11 ==='

      OA11CD  +2 or more         +1          0         -1  -2 or less
0  E00016403    4.929577  32.394366  42.253521  13.380282    7.042254
1  E00016437    6.918239  17.610063  44.025157  24.528302    6.918239
2  E00016439    0.561798  16.853933  62.921348  15.730337    3.932584
3  E00016442    0.000000  35.971223  43.884892  16.546763    3.597122
4  E00016399    5.673759  31.205674  43.262411  17.021277    2.836879

'=== wd22 ==='

  WD22CD_proposed  +2 or more         +1          0         -1  -2 or less
0       E05013714   12.999541  28.847037  44.143316  11.667432    2.342673
1       E05013715   20.113154  30.367751  40.608204   7.609618    1.301273
2       E05013716   12.550326  25.197834  48.507566  11.467444    2.276829
3       E05013717   30.756713  27.925142  32.351505   7.306753    1.659886
4       E05013718   24.445154  32.572250  33.769759   8.015328    1.197509

Reference geographies accommodation type
--

In [ ]:
# Reference geographies
acc_type_ref = pd.read_csv(f"{output_dir}/references_accommodation_type.csv")
d = accomm_type_groups(acc_type_ref, ['Name', 'Code'])
d.to_csv(f"{output_dir}/references_accommodation_type_groups.csv", index=False)
IPython.display.display(d.head())

       Name       Code  ...      Flats  Caravan or mobile
0   England  E92000001  ...  22.113919           0.434940
1    London  E12000007  ...  52.159551           0.083194
2  Lewisham  E09000023  ...  55.394252           0.043839

[3 rows x 7 columns]

Reference geographies Tenure Households
--

In [ ]:
# Reference geographies
tenure_hh_ref = pd.read_csv(f"{output_dir}/references_tenure_households.csv")
d = tenure_groups(tenure_hh_ref, ['Name', 'Code'])
d.to_csv(f"{output_dir}/references_tenure_households_groups.csv", index=False)
IPython.display.display(d.head())

       Name       Code      Owned  ...  Social rented  Private rented  Rent free
0   England  E92000001  63.340393  ...      17.692448       16.842052   1.337556
1    London  E12000007  48.258528  ...      24.064647       25.077820   1.309790
2  Lewisham  E09000023  42.404665  ...      31.054948       24.305071   0.998355

[3 rows x 7 columns]

Reference geographies Household composition
--

In [ ]:
# Reference geographies
hhcomp_ref = pd.read_csv(f"{output_dir}/references_household_compositions.csv")
d = household_comp_groups(hhcomp_ref, ['Name', 'Code'])
d.to_csv(f"{output_dir}/references_household_compositions_groups.csv", index=False)
IPython.display.display(d.head())

       Name       Code  ...  One family household  Other household types
0   England  E92000001  ...             61.781964               8.002826
1    London  E12000007  ...             53.482807              14.964731
2  Lewisham  E09000023  ...             51.330422              14.489495

[3 rows x 5 columns]

Reference geographies Rooms bedrooms central heating
--

In [ ]:
# Reference geographies
rbch_ref = pd.read_csv(f"{output_dir}/references_rooms_bedrooms_central_heating.csv")
d = room_bed_ch_groups(rbch_ref, ['Name', 'Code'])
d.to_csv(f"{output_dir}/references_rooms_bedrooms_central_heating_groups.csv", index=False)
IPython.display.display(d.head())

       Name       Code  ...  Average no of rooms  Average no of bedrooms
0   England  E92000001  ...                  5.4                     2.7
1    London  E12000007  ...                  4.7                     2.5
2  Lewisham  E09000023  ...                  4.5                     2.3

[3 rows x 9 columns]

Reference geographies Car van availability
--

In [ ]:
# Reference geographies
cv_ref = pd.read_csv(f"{output_dir}/references_car_van_availability.csv")
d = car_van_groups(cv_ref, ['Name', 'Code'])
d.to_csv(f"{output_dir}/references_car_van_availability_groups.csv", index=False)
IPython.display.display(d.head())

       Name       Code  ...  Three cars or vans  Four cars or vans
0   England  E92000001  ...            5.456397           1.925740
1    London  E12000007  ...            2.927555           0.937244
2  Lewisham  E09000023  ...            1.615112           0.433281

[3 rows x 7 columns]

Reference geographies Occupancy rating
--

In [ ]:
# Reference geographies
occ_rating_ref = pd.read_csv(f"{output_dir}/references_occupancy_rating.csv")
d = occupancy_rating_groups(occ_rating_ref, ['Name', 'Code'])
d.to_csv(f"{output_dir}/references_occupancy_rating_groups.csv", index=False)
IPython.display.display(d.head())

       Name       Code  +2 or more         +1          0         -1  -2 or less
0   England  E92000001   34.259570  34.419627  26.677482   3.945635    0.697686
1    London  E12000007   21.111497  28.266139  39.277864   9.225629    2.118871
2  Lewisham  E09000023   18.072891  27.967715  41.884384  10.081746    1.993264