In [ ]:
# ONS (Census 2011) statistics for Lewisham.
# Fetches Nomis data releases and prepares them for use in Lewisham ward profiles.
#
# This requires the OA->LSOA lookup table produced by "lbl_boundaries_oa.ipynb"
# as well as the OA->WD22 lookup table produced by "lbl_boundaries_2022_wards.ipynb"

In [1]:
import pandas as pd

from google.colab import drive
import google.colab.files as files

import IPython

Tools
==
Helpers to reformat & aggregate the Nomis source data.

In [2]:
# Extract the subset we need.
def filter_nomis_data(d, date_values, geography_values):
  return d[d.date.isin(date_values) & 
           d.geography.isin(geography_values)]

# Reformat Nomis data into a lookup table format:
# clear labelling of the index (geography) column, 
# remove superfluous columns.
def format_nomis_data(d, geo_colname='OA11CD'):
  return d.\
           rename(columns={'geography code': geo_colname}).\
           drop(columns=['date', 'geography'])

# Convenience function to call the above.
def nomis_to_oa(d, years, oa_list):
  return format_nomis_data(filter_nomis_data(d, years, oa_list))

In [3]:
# Aggregate OA-level data to LSOAs, Wards, etc. (Calculates the sum.)
def aggregate_oa_groups(oa_data, oa_group_table, oa_col, group_col):
  return pd.merge(oa_group_table, oa_data, on=oa_col, how='right').\
              drop(columns=[oa_col]).\
              groupby(group_col).sum()

Data
==
GDrive mount
--

In [4]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
# Used as root folder.
project_dir = '/content/gdrive/MyDrive/WardProfiles'
oa_lookups_dir = f"{project_dir}/lookups/oa"
ward_lookups_dir = f"{project_dir}/lookups/2022_wards"

# For exports
output_dir = f"{project_dir}/religion"

In [6]:
!mkdir -p '{output_dir}'

Downloads
--

In [7]:
# Religion (detailed), OAs in London 2011
# Source: 
# https://www.nomisweb.co.uk/census/2011/qs210ew
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_573_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299' \
  -O "{output_dir}/census11_religion_oa11_london.csv"

--2021-12-09 11:54:15--  https://www.nomisweb.co.uk/api/v01/dataset/nm_573_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.3.145
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.3.145|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/religion/census11_religion_oa11_london.csv’

/content/gdrive/MyD     [                <=> ]   3.96M   309KB/s    in 13s

2021-12-09 11:54:31 (307 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/religion/census11_religion_oa11_london.csv’ saved [4154976]

In [8]:
# reference regions
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_573_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464' \
  -O "{output_dir}/census11_religion_references.csv"

--2021-12-09 11:54:35--  https://www.nomisweb.co.uk/api/v01/dataset/nm_573_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.3.145
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.3.145|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/religion/census11_religion_references.csv’

/content/gdrive/MyD     [ <=>                ]   4.02K  --.-KB/s    in 0.07s

2021-12-09 11:54:35 (57.4 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/religion/census11_religion_references.csv’ saved [4114]

Lookups
--
Used to match up OAs with their LSOAs, and 2022 electoral wards

In [9]:
# All OAs and their LSOAs in Lewisham
oa_lsoa_join = pd.read_csv(f"{oa_lookups_dir}/lbl_oa11_lsoa11_msoa11_lad20_rgn20_202012.csv")
oa_lsoa_join = oa_lsoa_join[['OA11CD', 'LSOA11CD']]
oa_lsoa_join.head()

      OA11CD   LSOA11CD
0  E00016277  E01003220
1  E00016278  E01003220
2  E00016285  E01003220
3  E00016257  E01003221
4  E00016263  E01003221

In [10]:
# All OAs and their 2022 wards in Lewisham
oa_wd22_join = pd.read_csv(f"{ward_lookups_dir}/lbl_oa11_wd22_proposed.csv")
oa_wd22_join = oa_wd22_join[['OA11CD', 'WD22CD_proposed']]
oa_wd22_join.head()

      OA11CD WD22CD_proposed
0  E00016403       E05013721
1  E00016442       E05013721
2  E00016407       E05013721
3  E00016404       E05013721
4  E00016402       E05013721

Process & export
==
Lewisham
--

In [11]:
# For filtering of source data
lbl_oa_list = oa_lsoa_join.OA11CD.unique() # All OAs in Lewisham
years = [2011] # Just a precaution, in case any of the downloads include multiple periods

for datname in ['religion']:
  IPython.display.display(f"=== {datname} ===")
  # Load the Nomis data
  d = pd.read_csv(f"{output_dir}/census11_{datname}_oa11_london.csv")

  # Simplify the column names
  d.columns = d.columns.str.replace(
      # Remove the redundant title prefix and qualifier suffix
      r'^.*?: (.*?); measures: Value', 
      r'\1')

  # Transform to OA index data
  lbl_oa = nomis_to_oa(d, years, lbl_oa_list)
  lbl_oa.to_csv(f"{output_dir}/lbl_{datname}_oa11.csv", index=False)

  # Aggregate to LSOA level
  lbl_lsoa = aggregate_oa_groups(lbl_oa, oa_lsoa_join, oa_col='OA11CD', group_col='LSOA11CD')
  lbl_lsoa.to_csv(f"{output_dir}/lbl_{datname}_lsoa11.csv", index=True)
  IPython.display.display(lbl_lsoa.head())

  # Aggregate to WD22 level
  lbl_wd22 = aggregate_oa_groups(lbl_oa, oa_wd22_join, oa_col='OA11CD', group_col='WD22CD_proposed')
  lbl_wd22.to_csv(f"{output_dir}/lbl_{datname}_wd22.csv", index=True)
  IPython.display.display(lbl_wd22.head())

'=== religion ==='

           All categories: Religion  ...  Religion not stated
LSOA11CD                             ...
E01003189                      1670  ...                  169
E01003190                      1878  ...                  175
E01003191                      1494  ...                  132
E01003192                      1639  ...                  144
E01003193                      1568  ...                  141

[5 rows x 59 columns]

                 All categories: Religion  ...  Religion not stated
WD22CD_proposed                            ...
E05013714                           10627  ...                  978
E05013715                           15544  ...                 1507
E05013716                           16587  ...                 1582
E05013717                           16097  ...                 1393
E05013718                           14937  ...                 1431

[5 rows x 59 columns]

Reference geographies
--

In [12]:
# For filtering of source data
reference_names = ['United Kingdom', 'Great Britain', 'England and Wales',
                   'England', 'London', 'Lewisham']
years = [2011] # Just a precaution, in case any of the downloads include multiple periods

for datname in ['religion']:
  IPython.display.display(f"=== {datname} ===")
  # Load the Nomis data
  d = pd.read_csv(f"{output_dir}/census11_{datname}_references.csv")

  # Simplify the column names
  d.columns = d.columns.str.replace(
      # Remove the redundant title prefix and qualifier suffix
      r'^.*?: (.*?); measures: Value', 
      r'\1')

  # Filter & transform to index data
  ref = filter_nomis_data(d, years, reference_names).drop(columns=['date'])
  ref = ref.rename(columns={'geography': 'Name', 'geography code': 'Code'})
  ref.to_csv(f"{output_dir}/references_{datname}.csv", index=False)
  IPython.display.display(ref.head())

'=== religion ==='

       Name       Code  ... No religion: Realist  Religion not stated
0   England  E92000001  ...                  320              3804104
1    London  E12000007  ...                   35               692739
2  Lewisham  E09000023  ...                    1                24505

[3 rows x 62 columns]

Derivatives
==

Religion
--

In [13]:
religion = pd.read_csv(f"{output_dir}/census11_religion_oa11_london.csv")
religion.columns

Index(['date', 'geography', 'geography code', 'Rural Urban',
       'Religion: All categories: Religion; measures: Value',
       'Religion: Christian; measures: Value',
       'Religion: Buddhist; measures: Value',
       'Religion: Hindu; measures: Value', 'Religion: Jewish; measures: Value',
       'Religion: Muslim (Islam); measures: Value',
       'Religion: Sikh; measures: Value',
       'Religion: Other religion: Total; measures: Value',
       'Religion: Other religion: Animism; measures: Value',
       'Religion: Other religion: Baha'i; measures: Value',
       'Religion: Other religion: Believe in God; measures: Value',
       'Religion: Other religion: Brahma Kumari; measures: Value',
       'Religion: Other religion: Chinese Religion; measures: Value',
       'Religion: Other religion: Church of All Religion; measures: Value',
       'Religion: Other religion: Confucianist; measures: Value',
       'Religion: Other religion: Deist; measures: Value',
       'Religion: Other religion: Druid; measures: Value',
       'Religion: Other religion: Druze; measures: Value',
       'Religion: Other religion: Eckankar; measures: Value',
       'Religion: Other religion: Heathen; measures: Value',
       'Religion: Other religion: Jain; measures: Value',
       'Religion: Other religion: Mixed Religion; measures: Value',
       'Religion: Other religion: Mysticism; measures: Value',
       'Religion: Other religion: Native American Church; measures: Value',
       'Religion: Other religion: New Age; measures: Value',
       'Religion: Other religion: Occult; measures: Value',
       'Religion: Other religion: Own Belief System; measures: Value',
       'Religion: Other religion: Pagan; measures: Value',
       'Religion: Other religion: Pantheism; measures: Value',
       'Religion: Other religion: Rastafarian; measures: Value',
       'Religion: Other religion: Ravidassia; measures: Value',
       'Religion: Other religion: Reconstructionist; measures: Value',
       'Religion: Other religion: Satanism; measures: Value',
       'Religion: Other religion: Scientology; measures: Value',
       'Religion: Other religion: Shamanism; measures: Value',
       'Religion: Other religion: Shintoism; measures: Value',
       'Religion: Other religion: Spiritual; measures: Value',
       'Religion: Other religion: Spiritualist; measures: Value',
       'Religion: Other religion: Taoist; measures: Value',
       'Religion: Other religion: Theism; measures: Value',
       'Religion: Other religion: Thelemite; measures: Value',
       'Religion: Other religion: Traditional African Religion; measures: Value',
       'Religion: Other religion: Unification Church; measures: Value',
       'Religion: Other religion: Universalist; measures: Value',
       'Religion: Other religion: Vodun; measures: Value',
       'Religion: Other religion: Wicca; measures: Value',
       'Religion: Other religion: Witchcraft; measures: Value',
       'Religion: Other religion: Zoroastrian; measures: Value',
       'Religion: Other religion: Other religions; measures: Value',
       'Religion: No religion: Total; measures: Value',
       'Religion: No religion: No religion; measures: Value',
       'Religion: No religion: Agnostic; measures: Value',
       'Religion: No religion: Atheist; measures: Value',
       'Religion: No religion: Free Thinker; measures: Value',
       'Religion: No religion: Heavy Metal; measures: Value',
       'Religion: No religion: Humanist; measures: Value',
       'Religion: No religion: Jedi Knight; measures: Value',
       'Religion: No religion: Realist; measures: Value',
       'Religion: Religion not stated; measures: Value'],
      dtype='object')

In [14]:
# Segmentation of categories
def religion_groups(religion, fixed_columns):
  d = religion[fixed_columns].copy()
  total = religion['All categories: Religion']

  d['Christian'] = religion['Christian'] * 100. / total
  d['Buddhist'] = religion['Buddhist'] * 100. / total
  d['Hindu'] = religion['Hindu'] * 100 / total
  d['Jewish'] = religion['Jewish'] * 100 / total
  d['Muslim'] = religion['Muslim (Islam)'] * 100 / total
  d['Sikh'] = religion['Sikh'] * 100 / total

  d['Other Religion'] = religion['Other religion: Total'] * 100 / total

  d['No Religion'] = religion['No religion: Total'] * 100 / total

  d['Not Stated'] = religion['Religion not stated'] * 100 / total

  return d#.round(1)

In [15]:
# Lewisham
for geog, geog_colname in zip(['oa11', 'wd22'], ['OA11CD', 'WD22CD_proposed']):
  IPython.display.display(f"=== {geog} ===")

  religion = pd.read_csv(f"{output_dir}/lbl_religion_{geog}.csv")
  d = religion_groups(religion, [geog_colname])
  d.to_csv(f"{output_dir}/lbl_religion_groups_{geog}.csv", index=False)
  IPython.display.display(d.head())

'=== oa11 ==='

      OA11CD  Christian  Buddhist  ...  Other Religion  No Religion  Not Stated
0  E00016403  49.453552  3.825137  ...        0.273224    20.218579    6.284153
1  E00016437  60.780669  4.646840  ...        0.000000    16.356877    7.806691
2  E00016439  63.881402  1.347709  ...        1.617251    16.172507    6.738544
3  E00016442  58.474576  1.694915  ...        0.000000    12.429379    6.497175
4  E00016399  57.296137  3.862661  ...        0.858369    15.021459    5.364807

[5 rows x 10 columns]

'=== wd22 ==='

  WD22CD_proposed  Christian  Buddhist  ...  Other Religion  No Religion  Not Stated
0       E05013714  56.958690  0.799849  ...        0.357580    23.186224    9.202974
1       E05013715  50.186567  1.087236  ...        0.585435    31.600618    9.695059
2       E05013716  44.619280  1.368542  ...        0.759631    36.112618    9.537590
3       E05013717  58.986146  0.913214  ...        0.428651    18.071690    8.653786
4       E05013718  49.896231  1.198366  ...        0.615920    31.713195    9.580237

[5 rows x 10 columns]

Reference geographies religion
--

In [16]:
# Reference geographies
religion_ref = pd.read_csv(f"{output_dir}/references_religion.csv")
d = religion_groups(religion_ref, ['Name', 'Code'])
d.to_csv(f"{output_dir}/references_religion_groups.csv", index=False)
IPython.display.display(d.head())

       Name       Code  Christian  ...  Other Religion  No Religion  Not Stated
0   England  E92000001  59.382037  ...        0.429757    24.738020    7.175868
1    London  E12000007  48.421979  ...        0.586865    20.728948    8.474969
2  Lewisham  E09000023  52.771263  ...        0.535730    27.241423    8.882324

[3 rows x 11 columns]