In [ ]:
# ONS (Census 2011) statistics for Lewisham.
# Fetches Nomis data releases and prepares them for use in Lewisham ward profiles.
#
# This requires the OA->LSOA lookup table produced by "lbl_boundaries_oa.ipynb"
# as well as the OA->WD22 lookup table produced by "lbl_boundaries_2022_wards.ipynb"

In [2]:
import pandas as pd

from google.colab import drive
import google.colab.files as files

import IPython

Tools
==
Helpers to reformat & aggregate the Nomis source data.

In [3]:
# Extract the subset we need.
def filter_nomis_data(d, date_values, geography_values):
  return d[d.date.isin(date_values) & 
           d.geography.isin(geography_values)]

# Reformat Nomis data into a lookup table format:
# clear labelling of the index (geography) column, 
# remove superfluous columns.
def format_nomis_data(d, geo_colname='OA11CD'):
  return d.\
           rename(columns={'geography code': geo_colname}).\
           drop(columns=['date', 'geography'])

# Convenience function to call the above.
def nomis_to_oa(d, years, oa_list):
  return format_nomis_data(filter_nomis_data(d, years, oa_list))

In [4]:
# Aggregate OA-level data to LSOAs, Wards, etc. (Calculates the sum.)
def aggregate_oa_groups(oa_data, oa_group_table, oa_col, group_col):
  return pd.merge(oa_group_table, oa_data, on=oa_col, how='right').\
              drop(columns=[oa_col]).\
              groupby(group_col).sum()

Data
==
GDrive mount
--

In [5]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [6]:
# Used as root folder.
project_dir = '/content/gdrive/MyDrive/WardProfiles'
oa_lookups_dir = f"{project_dir}/lookups/oa"
ward_lookups_dir = f"{project_dir}/lookups/2022_wards"

# For exports
output_dir = f"{project_dir}/ethnicity"

In [7]:
!mkdir -p '{output_dir}'

Downloads
--

In [8]:
# Ethnic group data
# Source: 
# https://www.nomisweb.co.uk/census/2011/qs201ew
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_522_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299' \
  -O "{output_dir}/census11_ethnicity_oa11_london.csv"

--2021-12-08 11:55:06--  https://www.nomisweb.co.uk/api/v01/dataset/nm_522_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.3.145
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.3.145|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/ethnicity/census11_ethnicity_oa11_london.csv’

/content/gdrive/MyD     [           <=>      ]   2.41M   636KB/s    in 14s

2021-12-08 11:55:24 (179 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/ethnicity/census11_ethnicity_oa11_london.csv’ saved [2523694]

In [9]:
# reference regions
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_522_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464' \
  -O "{output_dir}/census11_ethnicity_references.csv"

--2021-12-08 11:55:31--  https://www.nomisweb.co.uk/api/v01/dataset/nm_522_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699,2013265927TYPE480,1946157254TYPE464
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.3.145
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.3.145|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/ethnicity/census11_ethnicity_references.csv’

/content/gdrive/MyD     [ <=>                ]   2.12K  --.-KB/s    in 0.08s

2021-12-08 11:55:32 (26.4 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/ethnicity/census11_ethnicity_references.csv’ saved [2175]

Lookups
--
Used to match up OAs with their LSOAs, and 2022 electoral wards

In [10]:
# All OAs and their LSOAs in Lewisham
oa_lsoa_join = pd.read_csv(f"{oa_lookups_dir}/lbl_oa11_lsoa11_msoa11_lad20_rgn20_202012.csv")
oa_lsoa_join = oa_lsoa_join[['OA11CD', 'LSOA11CD']]
oa_lsoa_join.head()

      OA11CD   LSOA11CD
0  E00016277  E01003220
1  E00016278  E01003220
2  E00016285  E01003220
3  E00016257  E01003221
4  E00016263  E01003221

In [11]:
# All OAs and their 2022 wards in Lewisham
oa_wd22_join = pd.read_csv(f"{ward_lookups_dir}/lbl_oa11_wd22_proposed.csv")
oa_wd22_join = oa_wd22_join[['OA11CD', 'WD22CD_proposed']]
oa_wd22_join.head()

      OA11CD WD22CD_proposed
0  E00016403       E05013721
1  E00016442       E05013721
2  E00016407       E05013721
3  E00016404       E05013721
4  E00016402       E05013721

Process & export
==
Lewisham
--

In [12]:
# For filtering of source data
lbl_oa_list = oa_lsoa_join.OA11CD.unique() # All OAs in Lewisham
years = [2011] # Just a precaution, in case any of the downloads include multiple periods

for datname in ['ethnicity']:
  IPython.display.display(f"=== {datname} ===")
  # Load the Nomis data
  d = pd.read_csv(f"{output_dir}/census11_{datname}_oa11_london.csv")

  # Simplify the column names
  d.columns = d.columns.str.replace(
      # Remove the redundant title prefix and qualifier suffix
      r'^.*?: (.*?); measures: Value', 
      r'\1')

  # Transform to OA index data
  lbl_oa = nomis_to_oa(d, years, lbl_oa_list)
  lbl_oa.to_csv(f"{output_dir}/lbl_{datname}_oa11.csv", index=False)

  # Aggregate to LSOA level
  lbl_lsoa = aggregate_oa_groups(lbl_oa, oa_lsoa_join, oa_col='OA11CD', group_col='LSOA11CD')
  lbl_lsoa.to_csv(f"{output_dir}/lbl_{datname}_lsoa11.csv", index=True)
  IPython.display.display(lbl_lsoa.head())

  # Aggregate to WD22 level
  lbl_wd22 = aggregate_oa_groups(lbl_oa, oa_wd22_join, oa_col='OA11CD', group_col='WD22CD_proposed')
  lbl_wd22.to_csv(f"{output_dir}/lbl_{datname}_wd22.csv", index=True)
  IPython.display.display(lbl_wd22.head())

'=== ethnicity ==='

           All categories: Ethnic group  ...  Other ethnic group: Any other ethnic group
LSOA11CD                                 ...
E01003189                          1670  ...                                          37
E01003190                          1878  ...                                          40
E01003191                          1494  ...                                          24
E01003192                          1639  ...                                          10
E01003193                          1568  ...                                          13

[5 rows x 24 columns]

                 All categories: Ethnic group  ...  Other ethnic group: Any other ethnic group
WD22CD_proposed                                ...
E05013714                               10627  ...                                         221
E05013715                               15544  ...                                         269
E05013716                               16587  ...                                         311
E05013717                               16097  ...                                         318
E05013718                               14937  ...                                         243

[5 rows x 24 columns]

Reference geographies
--

In [13]:
# For filtering of source data
reference_names = ['United Kingdom', 'Great Britain', 'England and Wales',
                   'England', 'London', 'Lewisham']
years = [2011] # Just a precaution, in case any of the downloads include multiple periods

for datname in ['ethnicity']:
  IPython.display.display(f"=== {datname} ===")
  # Load the Nomis data
  d = pd.read_csv(f"{output_dir}/census11_{datname}_references.csv")

  # Simplify the column names
  d.columns = d.columns.str.replace(
      # Remove the redundant title prefix and qualifier suffix
      r'^.*?: (.*?); measures: Value', 
      r'\1')

  # Filter & transform to index data
  ref = filter_nomis_data(d, years, reference_names).drop(columns=['date'])
  ref = ref.rename(columns={'geography': 'Name', 'geography code': 'Code'})
  ref.to_csv(f"{output_dir}/references_{datname}.csv", index=False)
  IPython.display.display(ref.head())

'=== ethnicity ==='

       Name  ... Other ethnic group: Any other ethnic group
0   England  ...                                     327433
1    London  ...                                     175021
2  Lewisham  ...                                       5795

[3 rows x 27 columns]

Derivatives
==

Ethnicity
--

In [14]:
ethnicity = pd.read_csv(f"{output_dir}/census11_ethnicity_oa11_london.csv")
ethnicity.columns

Index(['date', 'geography', 'geography code', 'Rural Urban',
       'Ethnic Group: All categories: Ethnic group; measures: Value',
       'Ethnic Group: White; measures: Value',
       'Ethnic Group: White: English/Welsh/Scottish/Northern Irish/British; measures: Value',
       'Ethnic Group: White: Irish; measures: Value',
       'Ethnic Group: White: Gypsy or Irish Traveller; measures: Value',
       'Ethnic Group: White: Other White; measures: Value',
       'Ethnic Group: Mixed; measures: Value',
       'Ethnic Group: Mixed/multiple ethnic group: White and Black Caribbean; measures: Value',
       'Ethnic Group: Mixed/multiple ethnic group: White and Black African; measures: Value',
       'Ethnic Group: Mixed/multiple ethnic group: White and Asian; measures: Value',
       'Ethnic Group: Mixed/multiple ethnic group: Other Mixed; measures: Value',
       'Ethnic Group: Asian; measures: Value',
       'Ethnic Group: Asian/Asian British: Indian; measures: Value',
       'Ethnic Group: Asian/Asian British: Pakistani; measures: Value',
       'Ethnic Group: Asian/Asian British: Bangladeshi; measures: Value',
       'Ethnic Group: Asian/Asian British: Chinese; measures: Value',
       'Ethnic Group: Asian/Asian British: Other Asian; measures: Value',
       'Ethnic Group: Black; measures: Value',
       'Ethnic Group: Black/African/Caribbean/Black British: African; measures: Value',
       'Ethnic Group: Black/African/Caribbean/Black British: Caribbean; measures: Value',
       'Ethnic Group: Black/African/Caribbean/Black British: Other Black; measures: Value',
       'Ethnic Group: Other; measures: Value',
       'Ethnic Group: Other ethnic group: Arab; measures: Value',
       'Ethnic Group: Other ethnic group: Any other ethnic group; measures: Value'],
      dtype='object')

In [17]:
# Segmentation of categories
def ethnicity_groups(ethnicity, fixed_columns):
  d = ethnicity[fixed_columns].copy()
  total = ethnicity['All categories: Ethnic group']

  d['White English/Welsh/Scottish/Northern Irish/British'] = ethnicity['White: English/Welsh/Scottish/Northern Irish/British'] * 100. / total
  d['White Irish'] = ethnicity['White: Irish'] * 100. / total
  d['White Gypsy or Irish Traveller'] = ethnicity['White: Gypsy or Irish Traveller'] * 100 / total
  d['White Other'] = ethnicity['White: Other White'] * 100 / total

  d['White & Black Caribbean'] = ethnicity['Mixed/multiple ethnic group: White and Black Caribbean'] * 100 / total
  d['White & Black African'] = ethnicity['Mixed/multiple ethnic group: White and Black African'] * 100 / total
  d['White & Asian'] = ethnicity['Mixed/multiple ethnic group: White and Asian'] * 100 / total
  d['Other Mixed'] = ethnicity['Mixed/multiple ethnic group: Other Mixed'] * 100 / total

  d['Indian'] = ethnicity['Asian/Asian British: Indian'] * 100 / total
  d['Pakistani'] = ethnicity['Asian/Asian British: Pakistani'] * 100 / total
  d['Bangladeshi'] = ethnicity['Asian/Asian British: Bangladeshi'] * 100 / total
  d['Chinese'] = ethnicity['Asian/Asian British: Chinese'] * 100 / total
  d['Other Asian'] = ethnicity['Asian/Asian British: Other Asian'] * 100 / total

  d['Black African'] = ethnicity['Black/African/Caribbean/Black British: African'] * 100 / total
  d['Black Caribbean'] = ethnicity['Black/African/Caribbean/Black British: Caribbean'] * 100 / total
  d['Other Black'] = ethnicity['Black/African/Caribbean/Black British: Other Black'] * 100 / total

  d['Arab'] = ethnicity['Other ethnic group: Arab'] * 100 / total
  d['Other Ethnic Group'] = ethnicity['Other ethnic group: Any other ethnic group'] * 100 / total

  return d#.round(1)

In [18]:
# Lewisham
for geog, geog_colname in zip(['oa11', 'wd22'], ['OA11CD', 'WD22CD_proposed']):
  IPython.display.display(f"=== {geog} ===")

  ethnicity = pd.read_csv(f"{output_dir}/lbl_ethnicity_{geog}.csv")
  d = ethnicity_groups(ethnicity, [geog_colname])
  d.to_csv(f"{output_dir}/lbl_ethnicity_groups_{geog}.csv", index=False)
  IPython.display.display(d.head())

'=== oa11 ==='

      OA11CD  ...  Other Ethnic Group
0  E00016403  ...            1.639344
1  E00016437  ...            1.301115
2  E00016439  ...            2.156334
3  E00016442  ...            1.977401
4  E00016399  ...            1.502146

[5 rows x 19 columns]

'=== wd22 ==='

  WD22CD_proposed  ...  Other Ethnic Group
0       E05013714  ...            2.079609
1       E05013715  ...            1.730571
2       E05013716  ...            1.874962
3       E05013717  ...            1.975523
4       E05013718  ...            1.626833

[5 rows x 19 columns]

Reference geographies ethnicity
--

In [20]:
# Reference geographies
ethnicity_ref = pd.read_csv(f"{output_dir}/references_ethnicity.csv")
d = ethnicity_groups(ethnicity_ref, ['Name', 'Code'])
d.to_csv(f"{output_dir}/references_ethnicity_groups.csv", index=False)
IPython.display.display(d.head())

       Name       Code  ...      Arab  Other Ethnic Group
0   England  E92000001  ...  0.416855            0.617653
1    London  E12000007  ...  1.297049            2.141207
2  Lewisham  E09000023  ...  0.527756            2.100513

[3 rows x 20 columns]